[Desktop Entry]
Version=1.0
Exec=/home/user/AIDD/AIDD/AIDDParts.sh
Name=AIDDParts
GenericName=AIDDParts
Comment=Run AIDDParts
Icon=/home/user/AIDD/AIDD.gif
Terminal=true
Type=Application
Name[en_US]=AIDDParts.desktop
